 <html>
<head>
	<title>Account Confirmation</title>
	<link rel="stylesheet" media='screen' href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
	<div>
 	<h2>Just one More Step</h2>
    Click the button below to activate your {{title}} Account. 	  
    	<button class="btn btn-default">
    		<a href="https://{{host}}/activate/{{token}}">Confirm Email</a> 
    	</button>
  	<br>
</div>
</body>
</html>
