 <html>
<head>
	<title>Account Confirmation</title>
</head>
<body>
	<div>
 	<h2>Just one More Step</h2>
    Click the button below to activate your GameRecords Account. 	  
    	<button class="btn btn-default">
    		<a href="http://{{host}}/activate/{{token}}">Confirm Email</a> 
    	</button>
  	<br>
</div>
</body>
</html>
