<html>
<head>
	<title>Password Reset</title>
</head>
<body>
	<div>
	  You are receiving this because you (or someone else) have requested the reset of the password for your account.<br>
	  Please click on the following link, or paste this into your browser to complete the process:<br>
	  <a href="https://{{host}}/reset/{{token}}">http://{{host}}/reset/{{token}}</a>
	  <br>
	  If you did not request this, please ignore this email and your password will remain unchanged.
  	<br>
</div>
</body>
</html>