 <html>
<head>
	<title>Welcome</title>
	<link rel="stylesheet" media='screen' href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
	<div>
 	<h2>Welcome to {{title}} </h2>
    	You are now registered for {{title}}.
  	<br>
</div>
</body>
</html>
