<div class="container">
	<h1>Edit Password</h1>
	{{#if expressFlash}}
	    <p><strong>{{ expressFlash }}</strong></p>
	{{/if}}
	<form action="/editPass" role="form" method="post" style="max-width: 300px;">
		<div class="form-group">
			<label for="password">new Password</label>
			<input type="password" name="password" class="form-control">
		</div>
		<div class="form-group">
			<label for="password">Confirm new Password</label>
			<input type="password" name="password2"class="form-control">
		</div>
		<button class="btn btn-default" type="submit">Submit</button>
		<a href="/">
			<button type="button" class="btn btn-primary">Cancel</button>
		</a>	
	</form>											

</div>
