extends layout

block content
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)
    p You are currently logged in as #{user.username}
    a(href="/groups/new") Create New Group  
    br
    -for (var i= 0; i < groups.length; i++ )
       a(href="/groups/"+groups[i].id)=groups[i].name
       br  
    a(href="/logout") Logout
    