<div class="container">
  <h1>Login Page</h1>
  <p>Welcome to GameRecords</p>
  <br>
  {{#if expressFlash}}
      <p><strong>{{ expressFlash }}</strong></p>
  {{/if}}
  <form action="/login" role="form" method="post" style="max-width: 300px;">
    <div class="form-group">
      <label for="username">UserName:</label>
      <input type="text" class="form-control" name="username" placeholder="Enter Username">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <button class="btn btn-default" type="submit">Submit</button>
    <a href="/">
      <button class="btn btn-primary" type="button">Cancel</button>
    </a>
  </form>
  <br>
  <a href="/forgot">Forgote Password</a><br>
  <a href="/activate">Request Account Activiation</a>
</div>
